
{% extends 'base.html' %}
{% block content %}

{% if table %}
<div class="container">
    <div class="section-title">
        <h2>Available Tables</h2>
    </div>  
        
        <div class="row">
            {% for i in table %}
            
            <div class="col-sm-2">
                <div class="card">
                <a href="{% url 'RestaurantApp:select-table' i.id%}">
                   <div class="card-header text-center">			
                        <h6><b>
                            {% if i.table_no|length > 2%}                            
                            <span style="color: rgb(124, 0, 128);">Table - {{i.table_no}}</span>
                            {% else %}
                            <span style="color: rgb(62, 128, 0);">Table - {{i.table_no}}</span>
                            {% endif %}

                            
                        </b></h6>
                    </div></a>
                   
                </div><br>
            </div>
            
            {% endfor %}

        </div>    
</div><br><br>
{% endif %}

{% if ntable %}
<div class="container">
    <div class="section-title">
        <h2>Unavailable Tables</h2>
    </div>  
        
        <div class="row">
            {% for i in ntable %}
            
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-header text-center">
                        <h6 class=""><b><span style="color: orangered;">Table - {{i.table_no}}</span></b></h6>
                    </div>
                   
                </div><br>
            </div>
            
            {% endfor %}

        </div>    
</div><br><br>
{% endif %}
<br><br><br>
{% endblock %}
