{% extends 'base.html' %}

{% load static %} 
{% block css %}
<link href="{% static "assets/css/boot.min.css" %}" rel="stylesheet" id="bootstrap-css">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="container"><br><br>
            <center>
                <b>
                    <h5>{{bot_name}}({{bot.bot_color|title}})</h5>
                </b>
            </center>

            <br>
            <div class="row">
                
            
                <div class="col-md-4">
                  <div class="card-counter danger">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">{{td}}</span>
                    <span class="count-name">Orders Delivered Today</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card-counter primary">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">{{fd}}</span>
                    <span class="count-name">Total Orders Delivered</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card-counter info">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">{{tw}}</span>
                    <span class="count-name">Orders Delivered This Week</span>
                  </div>
                </div>

            </div><br><br>

            <div class="container"><br>
                <h5>Want Reports for custom Dates. Please select Dates Here...</h5><br>
                <div class="container form-group mb-2">
                    <form method = "POST" class = "form-inline">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="">From Date</label></b>
                                <input class = "form-control" type="date" name = "startdate"> <br>

                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="">To Date</label></b>
                                <input class = "form-control" type="date" name = "enddate"> <br>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="submit" class = "btn btn-md btn-primary">Get Reports</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            

        </div>
    </div>
{% endblock %}