{% extends 'base.html' %}
{% load static %}

{% load static %}

{% block content %}
<div class="container">
    <div class="section-title">
        <h2>Available Flunkey's</h2>
    </div>  
        
        <div class="row">
            {% for i in bots%}
            
            <div class="col-sm-2">
                <div class="card">
                    <div>
                        <img src="/static{{i.image.url}}" alt="{{i.name}}" style = "width:100%; height: auto;">
                    </div>
                    <div class="card-header text-center">
                        <a href="{% url 'BotsApp:select-bot' i.id%}"><b>{{i.bot_name}}</b></a>
                    </div>
                    <div class="card-info text-center">
                        <span>{{i.bot_color}}</span><br>
                        <span>{{i.ip}}:{{i.port}}</span>
{% comment %}                        <span><span style="color: blue;">Battery</span>: {{i.battery}}%</span> {% endcomment %}

                    
                    </div>
                </div><br>
            </div>
            
            {% endfor %}

        </div>    
</div><br><br>

{% if nbots %}
<div class="container">
    <div class="section-title">
        <h2>Unavailable Flunkey's</h2>
    </div>  
        
        <div class="row">
            {% for i in nbots %}
            
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="" class="btn disabled"><b><span style="color: orangered;">{{i.bot_name}}</span></b></a>
                    </div>
                    <div class="card-info text-center">
                        <span>{{i.bot_color}}</span><br>
                        <span>{{i.ip}}:{{i.port}}</span>
                    </div>
                </div><br>
            </div>
            
            {% endfor %}

        </div>    
</div>
{% endif %}
{% endblock %}
